<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="lista-de-proveedores">
    <style>
        :host {
            display: block;
        }
        
        paper-card {
            display: block;
            padding: 1em;
            margin: 1em;
            width: 100%
        }
    </style>
    <template>

        <template is="dom-repeat" items={{coleccion}} filter="__mostrarElemento" observe="listo">

            <paper-card heading="{{item.nombre}}" elevation="1" animated-shadow="false">
                <div class="card-content">
                    [[item.latitude]] <br>
                    [[item.longitude]]
                </div>
                <div class="card-actions">

                    <paper-icon-button icon="icons:delete" item=[[item]] on-tap="__eliminar"></paper-icon-button>

                </div>

            </paper-card>

            

        </template>

    </template>

    <script>

        Polymer({
            is:"lista-de-proveedores",

            properties:{
                coleccion:Object
            },
            __eliminar:function(e){
                //Obtener la key unica del elemento
                var key = e.currentTarget.item.$key;
                this.$.query.ref.child(key).remove();
            },
            __mostrarElemento:function(e){
                return !e.listo
            }
        })
         
    </script>
</dom-module>