<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">



<dom-module id="lista-de-pendientes">
    <style>
        :host {
            display: block;
        }
        
        paper-card {
            display: block;
            padding: 1em;
            margin: 1em;
            min-width: 270px
        }

        
    </style>
    <template>

        <firebase-query id="query" app-name="avantiAgenda" path="/pendientes" data="{{coleccion}}"></firebase-query>
        <template is="dom-repeat" items=[[coleccion]] as=item filter="__mostrarElemento" observe="listo">

            <paper-card heading="[[item.content.cliente.nombre]]" elevation="1" animated-shadow="false">
                <!-- icono para el checking de algo icons:check-->
                <!-- icono para decir que esta en neutral icons:indeterminate-check-box-->
               <paper-icon-item>
                   <iron-icon icon="[[fijaIcono(item.content.proveedor)]]" item="[[item]]" on-tap="actualizaEstado" item-icon></iron-icon>
                        Proveedor:  {{item.content.proveedor.nombre}}
                </paper-icon-item>

                <paper-icon-item >
                   <iron-icon icon="[[fijaIcono(item.content.cliente)]]" item-icon></iron-icon>
                   Cliente: [[item.content.cliente.nombre]]
                </paper-icon-item>

                <paper-icon-item >
                   <iron-icon icon="icons:icons:assignment" item-icon></iron-icon>
                   Numero: [[item.content.numero]]
                </paper-icon-item>

                 <paper-icon-item >
                   <iron-icon icon="icons:description" item-icon></iron-icon>
                  Descripcion: [[item.content.descripcion]]
                </paper-icon-item>
                
                <div class="card-actions">
                    <paper-icon-button icon="icons:check" ></paper-icon-button>
                    <paper-icon-button icon="icons:create" ></paper-icon-button>
                    <paper-icon-button icon="icons:delete" item="[[item]]" on-tap="__eliminar"></paper-icon-button>
                </div>

            </paper-card>

        </template>

    </template>

    <script>

        Polymer({
            is:"lista-de-pendientes",
            properties:{
                coleccion:Object
            },
            __eliminar:function(e){
                //Firebase eliminacion de objeto por su Key.
                var key = e.currentTarget.item.$key;
                this.$.query.ref.child(key).remove();

                //Para local storage
                //this.splice("coleccion",e.model.index,1)
            },
            fijaIcono:function(e){
                if (e.estado == 1){
                    return "icons:check"
                }else{
                    return "icons:indeterminate-check-box"
                }
            },
            actualizaEstado:function(e){
                var estadoFinal = 0;
                var key = e.currentTarget.item.$key;
                proveedor = e.currentTarget.item.content.proveedor
                if(proveedor.estado == 0){
                    estadoFinal = 1
                }
                this.$.query.ref.child(key + "/content/proveedor").update({"estado":estadoFinal})
            },
            __mostrarElemento:function(e){
                return !e.listo
            }
        })
         
    </script>
</dom-module>