<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="formulario-pendiente">
    <style is="custom-style">
        iron-icon{
            --iron-icon-fill-color: var(--paper-teal-700)
        }
        paper-button {
            background-color: var(--accent-color);
            color: white;
            margin-left: 0px;
            margin-top: 1em;
        }
        
        google-map {
            height: 25%;
            width: 25%;
        }
        
        #agregarDialogElemento {
            width: 100%
        }
        
        .formulario {
            display: block;
            padding: 1em;
            margin: 1em;
            width: 100%
        }
    </style>


    <template>
        <firebase-query app-name="avantiAgenda" path="/proveedores" data="{{listaProveedores}}"></firebase-query>


        <firebase-query id="query" app-name="avantiAgenda" path="/pendientes" data="{{coleccion}}"></firebase-query>

        <paper-card class="formulario" elevation="1" animated-shadow="false">

                <!--Número del documento del Orden de compra / remision-->
                <paper-input type="number" label="Numero documento" value="{{numero}}">
                        <iron-icon icon="icons:icons:assignment" prefix item-icon></iron-icon>
                </paper-input>
                    <!--Lista de direcciones-->
                    <paper-dropdown-menu label="Direcciones">
                        <paper-listbox class="dropdown-content" id="provedores" selected="{{seleccionProveedor}}">
                            <template is="dom-repeat" items=[[listaProveedores]] as="proveedor">
                                <paper-item>[[proveedor.nombre]]</paper-item>
                            </template>
                        </paper-listbox>
                    </paper-dropdown-menu>
            <!--Descripcion opcional del movimiento-->
            <paper-textarea value="{{descripcion}}" label="Descripción">
                <iron-icon icon="icons:description" prefix item-icon></iron-icon>
            </paper-textarea>
            
            <!--Acciones sobre el documento-->
            <div class="card-actions">
                <paper-icon-button icon="icons:add-box" on-tap="_agregarElemento"></paper-icon-button>
                <paper-icon-button icon="icons:icons:expand-more" on-tap="_mostrarFormulario"></paper-icon-button>
            </div>

        </paper-card>
        <!--Mensaje que se mostrara al usuario en forma de mensaje-->
        <paper-toast id="notificacion"></paper-toast>

    </template>

    <script>
        Polymer({
            is:"formulario-pendiente",
            properties:{
                //Coleccion de tareas por hacer
                //listaProveedores:Array,
                coleccion:{
                    type:Object,
                    notify:true
                },
                mostrarFormularioCompleto:{
                    type:Boolean,
                    value:true
                },
                cliente:String,
                proveedor:String,
                numero:Number,
                descripcion:String
                

                //Coleccion de distribuidores
            },
            _agregarElemento:function(){

                var elemento = {
                   //Lugar 
                   cliente: {
                       nombre:this.cliente,
                       estado:0
                    },
                   proveedor:{
                       nombre:this.proveedor,
                       estado:0
                    },
                   //Numero
                   numero: this.numero,
                   descripcion:this.descripcion
                   
                };
                //Abrir la notificacion de que ya esta agregado el elemento
                this.$.query.ref.push({
                    content:elemento
                });
                this._limpiarAtributos();
            },
            _limpiarAtributos:function(){
                this.cliente = ""
                this.proveedor = ""
                this.numero = ""
                this.descripcion = ""
            }
            ,
            _mostrarNotificacion:function(texto){
                this.$.notificacion.text  = texto
                this.$.notificacion.open();
            }
        })
    </script>

</dom-module>