<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../../bower_components/google-map/google-map-search.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">

<dom-module id="formulario-proveedor">
    <style>
        paper-button {
            background-color: var(--accent-color);
            color: white;
            margin-left: 0px;
            margin-top: 1em;
        }
        
        #agregarDialogElemento {
            width: 100%
        }
        
        .formulario {
            display: block;
            padding: 1em;
            margin: 1em;
            width: 100%
        }
        
        paper-card.white {
            --paper-card-header-color: #fff;
        }

        google-map {
            height: 300px;
            width:100%
          }
    </style>


    <template>

        <firebase-query id="query" app-name="avantiAgenda" path="/proveedores" data="{{coleccion}}"></firebase-query>

          <google-map-search map="[[map]]" query="[[busqueda]]" results="{{results}}">
        </google-map-search>
        <google-map map="{{map}}" fit-to-markers zoom="[[zoom]]" latitude="{{latitude}}" longitude="{{longitude}}" api-key="AIzaSyAfFJFOhm50vzfnKR6dhHgktrQSqK1qn5U" >
             <google-map-marker latitude="{{latitude}}" longitude="{{longitude}}" draggable="true"></google-map-marker>
        
           
            <template id="resultados" is="dom-repeat" items="{{results}}" as="marker">
                <google-map-marker latitude="{{marker.latitude}}"
                                    longitude="{{marker.longitude}}" click-events="true" on-google-map-marker-click="prueba">
                    <h2>{{marker.name}}</h2>
                    <span>{{marker.formatted_address}}</span>
                </google-map-marker>
            </template>
        </google-map>

      <paper-card  class="formulario" elevation="1" animated-shadow="false">

        <paper-input ></paper-input>
        </paper-card>

        <paper-card heading="Direccion" class="formulario" elevation="1" animated-shadow="false">

            <paper-input label="Nombre ubicacion" id="nombre" value="{{nombre}}"></paper-input>
            <paper-input label="Latitude" id="latitude" value="{{latitude}}"></paper-input>
            <paper-input label="Longitude" id="longitude" value="{{longitude}}"></paper-input>

            <div class="card-actions">
                <paper-icon-button icon="icons:add-box" on-tap="_agregarElemento"></paper-icon-button>
            </div>
        </paper-card>

        <paper-toast id="notificacion" text="Nuevo proveedor agregado"></paper-toast>

    </template>

    <script>
        Polymer({
            is:"formulario-proveedor",
            properties:{
                //Coleccion de tareas por hacer
                coleccion:{
                    type:Array,
                    notify:true
                },
                latitude:{
                    type:String,
                    value:"20.6623569"
                },
                longitude:{
                    type:String,
                    value:"-103.3585183"
                },
                busqueda:{
                    type:String,
                    value:""
                },
                zoom:{
                    value:15
                }
            },
            
            //Agregar elemento a firebase
            _agregarElemento:function(){
                //Creacion de elemento
                var elemento = {
                   nombre: this.$.nombre.value,
                   latitude:this.$.latitude.value,
                   longitude:this.$.longitude.value
                };
                //Enviar datos a firebase
                
                this.$.query.ref.push(elemento);
                //Mostrar notificacion de elemento nuevo agregado
                this._muestraNota("Nuevo proveedor agregado")
                //Limpriar los atributos del formulario
                this._limpiarAtributos();
                
            },
            //Limpriar los atributos del formulario
            _limpiarAtributos:function(){
                   this.$.nombre.value = ""
                   this.$.latitude.value = "20.6623569"
                   this.$.longitude.value = "-103.3585183"
            },
            _muestraNota:function(text){
                this.$.notificacion.text = text;
                this.$.notificacion.open();
            },

            prueba:function(e){
                var marker = e.model.marker
                this.set("nombre",marker.name);
                this.set("latitude",marker.latitude);
                this.set("longitude",marker.longitude);
            }
        })
    </script>

</dom-module>