<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="../lista-menu-herramientas/vista-pendientes.html">
<link rel="import" href="../lista-menu-herramientas/vista-proveedores.html">

<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">

<link rel="import" href="../../bower_components/firebase-upload/firebase-upload.html">

<dom-module id="avantiAgenda-app">
  <template>
    <style include="iron-flex iron-flex-aligment">
      :host {
        display: block;
      }
      
      .iron-flex {
        margin: 1em;
      }
      
      #menu-herramientas {
        background-color: var(--paper-grey-800);
        color: aliceblue;
        width: 100%
      }
      
      .loquesea {
        width: 100px;
        height: 100px;
      }
      
      #lienzo-principal {
        background-color: var(--paper-grey-200)
      }
      
      #barra-menu {
        background-color: var(--paper-grey-800)
      }
      
      paper-menu {
        background-color: transparent
      }
      
      paper-menu paper-item {
        color: aliceblue;
      }
      
      paper-menu paper-item:hover {
        background-color: var(--paper-grey-600);
      }
    </style>

    <!-- Inicializacion de la configuracion de firebase-->
    <firebase-app name="avantiAgenda" api-key="AIzaSyDyRadj7rcNkj-Utq52yOBO2TO1LEGmYOQ" auth-domain="avanti-agenda.firebaseapp.com" database-url="https://avanti-agenda.firebaseio.com"  storage-bucket= "avanti-agenda.appspot.com">
    </firebase-app>
    <!-- Route de la aplicaicon -->
    <app-location route="{{route}}"></app-location>
    <app-route id="miroute" route="{{route}}" pattern="/:tabName" data="{{data}}" tail="{{subroute}}"></app-route>

    <paper-drawer-panel>

      <paper-header-panel drawer id="barra-menu">

        <paper-menu attr-for-selected="key" selected="{{data.tabName}}">
          <paper-item key="pendientes">Pendientes</paper-item>
          <paper-item key="proveedores">Proveedores</paper-item>
          <paper-item key="clientes">Clientes</paper-item>  
        </paper-menu>

      </paper-header-panel>

      <paper-header-panel main id="lienzo-principal">

      <firebase-upload url="https://avanti-agenda.firebaseio.com" max-file-size="1000000"></firebase-upload>



        <iron-pages class="flex" attr-for-selected="key" selected="[[data.tabName]]">
          <section key="pendientes">
            <vista-pendientes route="{{subroute}}" coleccion="{{listaPendientes}}" lista-proveedores="{{listaProveedores}}"></vista-pendientes>
          </section>
          <section key="proveedores">
            <vista-proveedores route="{{subroute}}" coleccion="{{listaProveedores}}"></vista-proveedores>
          </section>
          <section key="adenda">
            
          </section>
        </iron-pages>

      </paper-header-panel>

    </paper-drawer-panel>

  </template>

  <script>
    Polymer({

      is: 'avantiAgenda-app',
      properties:{
          listaPendientes:Object,
          paginaDefault:{
            type:String,
            value:"/proveedores"
          },
          listaProveedores:{
            type:Array,
            value:[]
          }
      },
      observers:[
        "_coleccionCambio(listaProveedores.*)"
      ],
      attached: function() {
        //Si el path no tiene nada, le asignamos una Pagina de inicio 
        //Si el path es '/' redirigir a la pagina elegida por defult
        if(!this.route.path || this.route.path == "/"){
          this.set('route.path',this.paginaDefault)
        }
      }
    });
  </script>

</dom-module>