<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
  <link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
  <link rel="import" href="../../bower_components/neon-animation/animations/slide-from-left-animation.html">
  <link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

  <link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
  <link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

  <link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
  <link rel="import" href="../../bower_components/paper-toast/paper-toast.html">


  <link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

  <link rel="import" href="../../bower_components/paper-badge/paper-badge.html">

  <link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
  <link rel="import" href="../../bower_components/paper-item/paper-item.html">

  <link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

  <link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

  <link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

  <link rel="import" href="../../bower_components/app-route/app-route.html">
  <link rel="import" href="../../bower_components/app-route/app-location.html">

  <link rel="import" href="../formulario/formulario-pendiente.html">
  <link rel="import" href="../formulario/formulario-proveedor.html">

  <link rel="import" href="../listas/lista-de-pendientes.html">
  <link rel="import" href="../listas/lista-de-proveedores.html">
  


  <dom-module id="vista-proveedores">
    <template>
      <style include="iron-flex iron-flex-aligment">
        :host {
          display: block;
        }
        
        .iron-flex {
          margin: 1em;
        }
        
      </style>
      <!-- Route de la aplicaicon -->
      <app-route active="{{active}}" route="{{route}}" pattern="/:id" data="{{data}}" on-active-changed="_fijarPaginaInicio"></app-route>
      <formulario-proveedor class="layout horizontal wrap" coleccion="{{coleccion}}"></formulario-proveedor>
      <lista-de-proveedores class="layout horizontal wrap" coleccion={{coleccion}}></lista-de-proveedores>
      <paper-toast id="notificacion" ></paper-toast>
    </template>

    <script>
    Polymer({

      is: 'vista-proveedores',
      properties:{
          coleccion:Array,
          route: Object,
          data:Object
      }
    });
  </script>

  </dom-module>