<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
  <link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
  <link rel="import" href="../../bower_components/neon-animation/animations/slide-from-left-animation.html">
  <link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

  <link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
  <link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

  <link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">


  <link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

  <link rel="import" href="../../bower_components/paper-badge/paper-badge.html">



  <link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

  <link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

  <link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

  <link rel="import" href="../../bower_components/app-route/app-route.html">
  <link rel="import" href="../../bower_components/app-route/app-location.html">

  <link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
  <link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">


  <link rel="import" href="../formulario/formulario-pendiente.html">
  <link rel="import" href="../formulario/formulario-proveedor.html">

  <link rel="import" href="../listas/lista-de-pendientes.html">
  <link rel="import" href="../listas/lista-de-proveedores.html">

  <link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
  <link rel="import" href="../../bower_components/google-map/google-map.html">
  <link rel="import" href="../../bower_components/google-map/google-map-marker.html">
  <link rel="import" href="../../bower_components/google-map/google-map-directions.html">
  <link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
  <link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
  <link rel="import" href="../../bower_components/paper-item/paper-item.html">
  <link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
  



  <dom-module id="vista-pendientes">
    <template>
      <style include="iron-flex iron-flex-aligment">
        :host {
          display: block;
        }
        
        .iron-flex {
          margin: 1em;
        }
        
        #menu-herramientas {
          background-color: var(--paper-grey-800);
          color: aliceblue;
          width: 100%
        }
        
        .loquesea {
          width: 100px;
          height: 100px;
        }
        
        paper-toolbar {
          background-color: var(--paper-grey-800)
        }
        
        #lienzo-principal {
          background-color: var(--paper-grey-200)
        }
        
        #barra-menu {
          background-color: var(--paper-grey-800)
        }
        
        paper-menu {
          background-color: transparent
        }
        
        paper-menu paper-item {
          color: aliceblue;
        }
        
        paper-menu paper-item:hover {
          background-color: var(--paper-grey-600);
        }

          google-map {
            height: 300px;
          }
      </style>

      <!-- Route de la aplicaicon -->
      <app-route route="{{route}}" pattern="/:tabName" data="{{data}}"></app-route>

      <div id="lienzo-principal">

        <google-map map="{{map}}" zoom="14" latitude="20.6623569" longitude="-103.3585183" api-key="AIzaSyAfFJFOhm50vzfnKR6dhHgktrQSqK1qn5U" >
        </google-map>

      <google-map-directions map="{{map}}"
          start-address="20.6623569,-103.3585183"
          end-address="20.6571291,-103.3501591"
          travel-mode="BICYCLING"
           api-key="AIzaSyAfFJFOhm50vzfnKR6dhHgktrQSqK1qn5U"></google-map-directions>

            <formulario-pendiente class="layout horizontal wrap" coleccion="{{coleccion}}">
            </formulario-pendiente>
            <lista-de-pendientes class="layout horizontal wrap" coleccion={{coleccion}}></lista-de-pendientes>
      </div>

    </template>

    <script>
    Polymer({

      is: 'vista-pendientes',
      properties:{
          coleccion:Object,
          listaProveedores: Array,
          route:{
            type:Object,
            notify:true
          },
          seleccionProveedor:Number
      },prueba:function(){
          console.log(this.coleccion)
      }
    });
  </script>

  </dom-module>